.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.text {
  font-size: 24px;
  margin-bottom: 16px;
}

.button {
  background-color: #007bff;
  color: rgb(229, 224, 224);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3a6ba0;
}